@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #808080;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #808080;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.navbar a {
    color: #808080;
    text-decoration: none;
    border: 1px white;
    font-size: large;
    font-weight: 600;
}

.navbar a:hover {
    background-color: #909090;
}

.hero {
    background-image: url(layout-01-assets/img11.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center
    padding: 100px 20px;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}