
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}
.navbar {
    background-color: #383e4c;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
}
.navbar ul {
    border: 1px solid white;
    padding: 0;
    color: #f9f7f7;
    font-size: large;
    list-style: none;
    margin: 0;
    text-decoration: none;
}
.navbar ul li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}
.navbar a,
.navbar a:link,
.navbar a:visited {
    text-decoration: none;
    color: #f9f7f7;
}

.navbar a:hover,
.navbar a:focus {
    text-decoration: none;
    background-color: #949494;
}

.btn1, .btn2, .btn3,
a.btn1, a.btn2, a.btn3 {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.hero {
    background-image: url(layout-01-assets/img11.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}